.root {
}

.wrapper {
}

.header {
  margin: 0 auto;
  max-width: 1183px;
  height: 783px;
  background-image: url(/images/img_title.png);
  position: relative;
}

.header__nav {
  display: flex;
  justify-content: space-between;
  color: #fff;
  font-size: 10px;
  line-height: 11.6px;
  text-transform: uppercase;
}

.header__nav_left {
  display: flex;
  gap: 17px;
  margin-left: 41px;
}

.header__nav_right {
  display: flex;
  gap: 17px;
  margin-right: 41px;
}

.header__title {
  width: 410px;
  color: #fff;
  font-size: 63px;
  margin-top: 71px;
  margin-left: 42px;
}

.button {
  color: #fff;
  background-color: #000;
}

.header__button {
  width: 200px;
  height: 37px;
  margin-top: 34px;
  margin-left: 42px;
}

.cookies {
  color: #3c3c3c;
  width: 286px;
  position: absolute;
  right: 75px;
  bottom: 45px;
  text-transform: uppercase;
}

.cookies__title {
  font-size: 11px;
}

.cookies__text {
  font-size: 9px;
  margin-top: 18px;
}

.cookies__form {
  display: flex;
  justify-content: space-between;
  font-size: 8px;
  margin-top: 18px;
}

.cookies__form_left {
}

.cookies__form_right {
}

.main {
}

.droops {
}

.cards {
}

.feedback {
}

.footer {
}
