.root {
}

.cookies__form_left {
}

.cookies__form_right {
}

.main {
}

.droops {
  border-bottom: 1px solid rgba(31, 30, 30, 0.1);
  width: 100%;
}

.droops__list {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.droops__list-event {
  display: flex;
  margin-top: 59px;
  color: rgba(60, 60, 60, 1);
}

.droops__list-number {
  margin-right: 17px;
  align-self: center;
}

.droops__list-text {
  line-height: 14px;
  font-size: 9px;
  width: 126px;
  text-transform: uppercase;
}

.droops__title {
  font-size: 125px;
  text-align: center;
  margin-top: 40px;
  line-height: 131px;
}

.droops__colors {
  display: flex;
  flex-wrap: wrap;
  gap: 63px;
  margin-left: 57px;
  margin-top: 76px;
}

.droops__colors-event {
  width: 167px;
}

.droops__colors-img {
  width: 100%;
}

.droops__colors-price {
  font-size: 9px;
  line-height: 9px;
  color: rgba(60, 60, 60, 1);
  text-transform: uppercase;
  text-align: center;
  width: 117px;
  margin: 0 auto;
  margin-top: 20px;
}
.droops__button-container {
  display: flex;
  justify-content: center;
}

.droops__button {
  width: 137px;
  margin-top: 45px;
  justify-content: center;
}

.droops__about {
  width: 65px;
  margin: 0 auto;
  font-size: 9px;
  margin-top: 100px;
  text-transform: uppercase;
}

.droops__about-text {
  font-size: 38px;
  line-height: 46px;
  max-width: 680px;
  margin: 0 auto;
  text-align: center;
  margin-top: 16px;
  padding-bottom: 96px;
}
.cards {
  width: 100%;
  margin: 0 auto;
}
.cards__container {
  max-width: 1100px;
  margin: 0 auto;
}
.cards__container-one {
  padding-top: 50px;
  display: flex;
  gap: 8px;
}
.cards__container-img {
  widows: 546px;
}
.cards__container-text {
  width: 546px;
  height: 546px;
  background-color: #f4ede6;
  color: rgba(66, 94, 68, 1);
}
.cards__container_text_big {
  padding-top: 150px;
  font-size: 52px;
  font-weight: 400;
  line-height: 58px;
  text-align: center;
  width: 440px;
  margin: 0 auto;
}
.cards__container_text_small {
  font-size: 9px;
  font-weight: 400;
  line-height: 14px;
  text-align: center;
  margin-top: 157px;
}

.cards__title {
  font-size: 192px;
  font-weight: 400;
  line-height: 201px;
  text-align: center;
  margin-top: 30px;
}
.cards__subtitle {
  font-size: 21px;
  font-weight: 400;
  line-height: 29px;
  text-align: center;
  width: 597px;
  margin: 0 auto;
  margin-top: 40px;
}

.cards__button {
  width: 127px;
  margin: 0 auto;
  margin-top: 24px;
}
.cards__container-two {
  display: flex;
  gap: 8px;
  margin-top: 50px;
}
.cards__container-button {
  width: 149px;
  margin: 0 auto;
  margin-top: 28px;
}
.cards__container-three {
  display: flex;
  gap: 8px;
  margin-top: 235px;
}
.cards__container-images {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  width: 546px;
}
.cards__small {
  width: 269px;
  height: 269px;
  position: relative;
}
.cards__rectangle {
  position: absolute;
  top: 25%;
  left: 25%;
}
.cards__container-text_three {
  background-color: #c6bc8a;
}
.cards__container_text_average {
  width: 121px;
  margin: 0 auto;
  margin-top: 25px;
}

.feedback {
  width: 100%;
}
.feedback-border {
  border-top: 1px solid #E0E0E0;
  border-bottom: 1px solid #E0E0E0;
  margin-top: 65px;
}
.feedback__form {
}
.feedback__text {
  width: 306px;
  font-size: 38px;
  line-height: 46px;
  margin-top: 50px;
}
.feedback__input {
  border: 1px solid #E0E0E0;
  width: 267px;
  height: 37px;
  margin-top: 8px;
  border-radius: 4.17px;
}
.feedback__text-small {
  font-size: 9px;
  line-height: 13.8px;
  margin-top: 65px;
  margin-bottom: 34px;
}



.footer {
}
